<section class="calculator__section">
  <h2 class="calculator__title">Калькулятор</h2>
  <div class="calculator__detalisation">
    <input id="num1" class="caluclator__input" type="text" placeholder="Введіть число" />
    <div class="calculator__btn-detalisation">
    <button id="+" class="calculator__btn" type="button">+</button>
    <button id="*" class="calculator__btn" type="button">*</button>
    <button id="-" class="calculator__btn" type="button">-</button>
    <button id="/" class="calculator__btn" type="button">/</button>
</div>
    <input id="num2" class="caluclator__input" type="text" placeholder="Введіть число" />
    <button id="=" class="calculator__btn" type="button">=</button>
    <p id="equal" class="caluclator__result" type="text">Результат</p>
  </div>
</section>
