<section>
    <div class="container">
    <h3 class="logo-title-choose">Обери вченого/их</h3>
    <ul class="list-scientists">
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
        <li class="scientist"></li>
    </ul>
    <div class="box-sort">
        <ul class="sort-list">
            <li class="sort-list-item">Які вчені народилися в 19 ст.</li>
            <li class="sort-list-item">Відсортувати вчених за алфавітом</li>
            <li class="sort-list-item">Відсортувати вчених за кількістю прожитих років</li>
            <li class="sort-list-item">Знайти вченого, який народився найпізніше</li>
        </ul>
        <ul class="sort-list">
            <li class="sort-list-item">Знайти рік народження Albert Einshtein</li>
            <li class="sort-list-item">Знайти вчених, прізвища яких починаються на на літеру “С”</li>
            <li class="sort-list-item">Видалити всіх вчених, ім’я яких починається на “А”</li>
            <li class="sort-list-item">Знайти вченого, який прожив найдовше і вченого,<br> який прожив найменше</li>
        </ul>
        
    </div>
    <p class="text-list-item">Знайти вчених, в яких співпадають перші літери імені і прізвища</p>
</div>
</section>