<section class="num-game__section">
    <h2 class="num-game__title">Вгадай число, яке загадав комп’ютер від 1 до 100</h2>
  <div class="num-game__detalisation">
    <form action="" class="num-game__form">
      <input
        type="text"
        class="num-game__input"
        placeholder="Введіть число"
      />
      <button class="num-game__btn" type="button">
        <svg class="num-game__svg">
          <use href="../img/svg104.svg#lupa"></use>
        </svg>
      </button>
    </form>
    <p class="num-game__text">відповідь буде тут</p>
  </div>
</section>