<footer>
    <div class="container_footer">
        <div class="box_footer">
            <img class="svg-logo" src="./img/logo.png" alt="logo">
            <a class="logo_title" href="/"><span class="span_header">Coding</span><br>Magic</a>
        </div>
        <div class="box_footer">
            <ul class="list__social_network">
                <li class="list-link-footer"><a class="links_footer_social_network"
                        href="tel:+38 (123) 456 78 90">Тел: +38 (123) 456 78 90</a></li>
                <li class="list-link-footer"><a class="links_footer_social_network"
                        href="mailto:codingmagic@gmail.com">E-Mail: codingmagic@gmail.com</a></li>
                <li class="list-link-footer"><a class="links_footer_social_network" href="">Facebook:
                        CodingMagic</a></li>
                <li class="list-link-footer"><a class="links_footer_social_network" href="">Twitter: CodingMagic</a>
                </li>
                <li class="list-link-footer"><a class="links_footer_social_network" href="">Instagram:
                        CodingMagic</a></li>
            </ul>
        </div>
        <div class="box_footer">
            <ul class="list_footer_fuul">
                <li class="list_link_footer_fuul"><input placeholder="Ваша ел. адреса..." class="input-footer"
                        type="Ваша ел. адреса..."></li>
                <li class="list_link_footer_fuul"><button class="button-footer" type="button">Підписатись</button>
                </li>
            </ul>
            <h2 class="title_footer">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</h2>
            <div class="backdrop js-backdrop">
                <form class="modal">
                    <button class="close-button" type="submit"><img class="svg-close-btn" src="../img/Vector 234.png"
                            alt=""></button>
                    <div class="box_modal">
                        <h2 class="title-form-footer">Дякую за підписку!</h2>
                        <div class="box_img">
                       
                        <ul class="list_link_form_img">
                            <li class="link_form_img2"> <img class="form_img2" src="./img/sword.png" alt="sword"></li>
                            <li class="link_form_img2"> <img class="form_img2" src="./img/puzzle.png" alt="puzzle"></li>
                        </ul>
                        <ul>
                            <li class="link_form_img"> <img class="form_img" src="./img/game-development.png" alt="game-development"></li>

                            <li class="link_form_img"> <img class="form_img" src="./img/tic-tac-toe.png" alt="tic-tac-toe"></li>
                        </ul>
                    </div>
                    </div>
                </form>
            </div>
</footer>  