<footer>
    <div class="container_footer">
        <div class="box_footer">
            <a href="logo-footer"><svg>
                    <use href=""></use>
                </svg></a>
        </div>
        <div class="box_footer">
            <ul class="list__social_network">
                <li class="list-link-footer"><a class="links_footer_social_network"
                        href="tel:+38 (123) 456 78 90">Тел: +38 (123) 456 78 90</a></li>
                <li class="list-link-footer"><a class="links_footer_social_network"
                        href="mailto:codingmagic@gmail.com">E-Mail: codingmagic@gmail.com</a></li>
                <li class="list-link-footer"><a class="links_footer_social_network" href="">Facebook:
                        CodingMagic</a></li>
                <li class="list-link-footer"><a class="links_footer_social_network" href="">Twitter: CodingMagic</a>
                </li>
                <li class="list-link-footer"><a class="links_footer_social_network" href="">Instagram:
                        CodingMagic</a></li>
            </ul>
        </div>
        <div class="box_footer">
            <ul class="list_footer_fuul">
                <li class="list_link_footer_fuul"><input placeholder="Ваша ел. адреса..." class="input-footer" type="Ваша ел. адреса..."></li>
                <li class="list_link_footer_fuul"><button class="button-footer" type="button">Підписатись</button></li>
            </ul>
            <h2 class="title_footer">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</h2>
            <!-- <form action="">
                <button class="close-button" type="button"><svg class="svg-close-btn">
                        <use href=""></use>
                    </svg></button>
                <h2 class="title-form-footer">Дякую за підписку!</h2>
            </form> -->
</footer>