<header>
    
    <div class="container">
        <nav>
            <svg class="svg-logo"><use href=""></use></svg>
        <a class="logo_title" href="/"><span class="span_header">Coding</span><br>Magic</a>
        <ul class="list_header">
            <li class="list-link-header"><a class="links-header" href="/">Інтерактив</a></li>
            <div class="dropdown">
                <button class="button_header" onclick="headerModal()">
                    <svg class="svg-button-header"><use href= ""></use></svg>
                  </button>
            <div class="dropdown-content" id="myDropdown">
                <ul class="list-form">
                <li class="list-link-form-header"><a class="links-modal" href="/">Числовий</a></li>
                <li class="list-link-form-header"><a class="links-modal" href="/">Ігровий</a></li>
                <li class="list-link-form-header"><a class="links-modal" href="/">Ознайомчий</a></li>
            </ul>
            </div>
            </div>
            <li class="list-link-header"><a class="links-header" href="/">Наша команда</a></li>
            <li class="list-link-header"><a class="links-header" href="/">Контакти</a></li>
        </ul>
    </nav>
    </div>
    
    </header>