<header> 

  <div class="container">
     <nav>
         <img class="svg-logo" src="../img/Group 2.png" alt="">
         <a class="logo_title" href="/"><span class="span_header">Coding</span><br>Magic</a>
         <ul class="list_header">
         <div class="dropdown">
          <button class="button_header" onclick="headerModal()"><a class="links-header"
            href="/">Інтерактив</a>
        <svg class="svg-button-header">
            <use href=""></use>
        </svg>
    </button>
             <div class="dropdown-content" id="myDropdown">
                 <ul class="list-form">
                     <li class="list-link-form-header"><a class="links-modal" href="/">Числовий</a></li>
                     <li class="list-link-form-header"><a class="links-modal" href="/">Ігровий</a></li>
                     <li class="list-link-form-header"><a class="links-modal" href="/">Ознайомчий</a></li>
                 </ul>
             </div>
         </div>
             <li class="list-link-header"><a class="links-header" href="/">Наша команда</a></li>
             <li class="list-link-header"><a class="links-header" href="/">Контакти</a></li>
         </ul>
         <div class="box-header">

             <label class="switch">
                 <input type="checkbox">
                 <span class="slider round"></span>
             </label>
             <h2 class="title-header">Вітаємо, User!</h2>


     </nav>
 </div>

</header>