<section class="k-n-p__section">
  <h1 class="k-n-p__title">Камінь - ножиці - папір</h1>
  <div class="k-n-p__btns">
    <button class="k-n-p__btn" id="rock">
      <img src="./img/stone.png" alt="rock" />
    </button>
    <button class="k-n-p__btn" id="scissors">
      <img src="./img/scissors.png" alt="scissors" />
    </button>
    <button class="k-n-p__btn" id="paper">
      <img src="./img/paper.png" alt="paper" />
    </button>
    
    <div class="k-n-p__scores">
      <p class="k-n-p__score">Разунок:</p>
      <p class="k-n-p__computer-score">Комп'ютер-0</p>
      <p class="k-n-p__your-score">Ви-0</p>
    </div>
  </div>

  <p class="k-n-p__result">Результат тут</p>
  <button class="k-n-p__computer-choose">Варіант комп’ютера</button>

</section>
