<section class="our-team__section">
  <h1 class="our-team__title">Наша команда</h1>
  <ul class="our-team__slider">
    <li class="our-team__slid">
      <img src="" alt="Тімур" />
      <h2>Тімур</h2>
      <p>.....</p>
    </li>
    <li class="our-team__slid">
      <img class="our-team__img" src="" alt="Діана" />
      <h2>Діана</h2>
      <p>.....</p>
    </li>
    <li class="our-team__slid">
      <img class="our-team__img" src="" alt="Максим" />
      <h2>Максим</h2>
      <p>.....</p>
    </li>
    <li  class=.our-team__img>
      <img src="" alt="Олег" />
      <h2>Олег</h2>
      <p>.....</p>
    </li>
  </ul>
</section>
