<section class="our-team__section">
  <h1 class="our-team__title">Наша команда</h1>
  <ul class="our-team__slider">
    <li class="our-team__slid active">
      <img class="our-team__img" src="../img/photo_Timur.jpg" alt="Тімур" />
      <h2 class="our-team__person">Тімур</h2>
      <p class="our-team__text">dinosaur, football, three numbers</p>
    </li>
    <li class="our-team__slid">
      <img class="our-team__img" src="../img/photo_Diana.jpg" alt="Діана" />
      <h2 class="our-team__person">Діана</h2>
      <p class="our-team__text">time-calculator, our team</p>
    </li>
    <li class="our-team__slid">
      <img class="our-team__img" src="../img/photo_Maks.jpg" alt="Максим" />
      <h2 class="our-team__person">Максим</h2>
      <p class="our-team__text">header, select scientist, footer</p>
    </li>
    <li class="our-team__slid">
      <img class="our-team__img" src="../img/photo_Oleg.jpg" alt="Олег" />
      <h2 class="our-team__person">Олег</h2>
      <p class="our-team__text">
        K-N-P, check the year of birth, guess the number, calculator
      </p>
    </li>
  </ul>
  <div class="our-team__buttons">
    <button class="prev button-l"></button>
    <button class="next button-r"></button>
  </div>
  <div class="indicator-dots">
    <span class="dot"></span>
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</section>
