<section class="year-game__section">
  <h1 class="main__title">Популярні інтерактивні ігри</h1>

  <h2 class="year-game__title">Перевір в який рік ти народився</h2>
  <div class="year-game__detalisation">
    <form action="" class="year-game__form">
      <input
        type="text"
        class="year-game__input"
        placeholder="Введіть рік народження"
      />
      <button class="year-game__btn" type="button">
        <svg class="year-game__svg">
          <use href="./img/svg104.svg#lupa"></use>
        </svg>
      </button>
    </form>
    <p class="year-game__text">відповідь буде тут</p>
  </div>
</section>