.list-scientists li {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #D9D9D9;
    margin-right: 59px;
    margin-bottom: 36px;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    line-height: 170%;
    text-align: center;
    padding-top: 32px;
    box-sizing: border-box;
    transition: 1s;
}

.list-scientists {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 577px;
    height: 408px;
}

.list-scientists li:nth-child(4n) {
    margin-right: 0px;
}

.sort-list{
   
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.sort-list:first-child {
    margin-right: 36px;
    align-items: end;
}

.sort-list-item {
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px 20px;
    width:fit-content;
    font-size: 12px;
    line-height: normal;
    cursor: pointer;
}

.box-sort{
    margin-left: 217px;
    margin-right: 217px;
    display: flex;
}
.logo-title-choose{
    color: #000;

font-family: Montserrat Alternates;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 36px;
text-align: center;
}
.text-list-item{
    margin-left: 300px;
    margin-right: 300px;
    margin-right: auto;
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #000;
    color: #FFF;

text-align: center;
font-family: Montserrat Alternates;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}