.num-game__section {
  margin-top: 36px;
  margin-bottom: 36px;
  width: 536px;
  margin-left: auto;
  margin-right: auto;
}

.num-game__title {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #000;
  width: 536px;
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 16px;
}
@media (max-width: 321px) {
  .num-game__title {
    text-align: center;
    font-size: 20px;
    width: 300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.num-game__detalisation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}
@media (max-width: 321px) {
  .num-game__detalisation {
    display: block;
    margin-left: 21%;
  }
}

.num-game__form {
  display: flex;
  flex-direction: row;

  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}
@media (max-width: 321px) {
  .num-game__form {
    padding-left: 70px;
  }
}

.num-game__input {
  color: #7e7e7e;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  display: inline-flex;
  padding: 10px 0px 11px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #d7d7d7;
  border: 1px solid #ccc;
}
@media (max-width: 321px) {
  .num-game__input {
    padding: 7px 0px 7px 7px;
  }
}

.num-game__btn {
  position: absolute;
  display: inline-flex;
  padding: 11.2px 12px 11px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  background: #000;
  margin-left: 85%;
}
@media (max-width: 321px) {
  .num-game__btn {
    padding: 6.2px 10px 9px 7px;
    margin-left: 31%;
  }
}

.num-game__svg {
  width: 15px;
  height: 15px;
}

.num-game__text {
  font-family: Montserrat Alternates;
  font-size: 13px;
  text-align: center;
}
@media (max-width: 321px) {
  .num-game__text {
    margin-top: 30px;
    text-align: center;
  }
}
