.football_title {
    text-align: center;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/field.jpg);
    width: 720px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 37px;
    border: 2px solid #000;
}

.ball {
    position: absolute;
    transition: all 1s;
    width: 50px;
    height: 50px;
}