.list_header {
  display: flex;
  margin-left: 50px;
}
@media (max-width: 321px) {
  .list_header {
      display: block;
     margin-left: 0px;
      justify-content: center;
      text-align: center;
  }
}
.title-header {
  color: #000;

  text-align: right;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.svg-white-black {
  width: 15.033px;
  height: 14.667px;
  flex-shrink: 0;
  border-radius: 15.033px;
}

.box-header {
  display: flex;
  margin-left: 320px;
}
@media (max-width: 321px) {
  .box-header {
      margin-top: 15px;
      display: flex;
      margin-left: 0px;
      justify-content: center;
  }
}

.box-btn-header {
  width: 40px;
  margin-right: 30px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #7A7A7A;
}

.btn-white-black {
  display: flex;
  width: 20.5px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 15.033px;
  fill: #FFF;

  stroke-width: 0.5px;
  stroke: #000;
}

.dropdown-content {

  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.list-link-form-header {
  width: 160px;
  height: 35px;
  text-align: center;
  flex-shrink: 0;
  border-right: 1px solid #000;

  border-left: 1px solid #000;

  background: #FFF;
}

.list-link-form-header:hover {
  background: #D7D7D7;
}

.list-link-form-header:last-child {
  width: 160px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  border-right: 1px solid #000;

  border-bottom: 1px solid #000;

  border-left: 1px solid #000;

  background: #FFF;
}

.list-form {
  width: 160px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  border-right: 1px solid #000;

  border-bottom: 1px solid #000;

  border-left: 1px solid #000;

  background: #FFF;
}

.list-link-header {
  margin-left: 50px;
}
@media (max-width: 321px) {
  .list-link-header {
      margin-left: 0px;
      margin-bottom: 15px;
     
  }
}

.list-link-header:last-child {
  margin-right: 0px;
}

.links-header {
  color: #000;

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

 
}
@media (max-width: 321px) {
  .links-header {
      color: #000;

      font-family: Montserrat Alternates;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
     
  }
}


.dropdown {
  position: relative;
  /* margin-right: 50px; */
  margin-left: 60px;
}
@media (max-width: 321px) {
  .dropdown {
      margin-left: 0px;
      margin-bottom: 15px;
     
  }
}
header {
  max-width: 100%;
display: flex;
  align-items: center;
  height: 80px;

}
@media (max-width: 321px) {
  header {
      display: block;
     height: 100%;
     
     
  }
}


nav {
  display: flex;
}
@media (max-width: 321px) {
  nav {
      display: block;
      align-items: center;
      justify-content: center;
     
     
  }
}

.container {

  width: 1090px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 321px) {
  .container {
      width: 321px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
     
     
  }
}

@media (max-width: 321px) {
  .list-link-header {
      margin-left: 0px;
      margin-bottom: 15px;
     
  }
}
.links-modal {
  color: #000;

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 321px) {
  .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 25%;
      margin-top: 15px;
      background-color: #f9f9f9;
      min-width: 60px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
     
  }
}

.svg-logo {
  width: 40px;
  height: 38.145px;
  flex-shrink: 0;
}
@media (max-width: 321px) {
  .svg-logo {
      
     margin-left: auto;
     margin-right: auto;
     
  }
}

.title-logo {
  margin-right: 81px;
}
@media (max-width: 321px) {
  .title-logo {  
      margin-right: 0px;
     
     
  }
}


.logo_title {
  color: #000;

  font-family: Sacramento;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 321px) {
  .logo_title {  
      
      display: block; 
      text-align: center;
      margin: 0 auto;
      color: #000;
      margin-bottom: 15px;

      font-family: Sacramento;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
     
     
  }
}

.span_header {
  color: #000;

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.svg-button-header {
  width: 5px;
  height: 9px;
  flex-shrink: 0;
  stroke-width: 0.75px;
  stroke: #000;
}

.button_header {
  background: none;
  background-color: none;
  border: none;
}

.switch {

  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #7A7A7A;
}


.switch {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}


.switch input {
  display: none;

}

/* The slider */
.slider {

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;

  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./Ellipse\ 8.png);


  position: absolute;
  content: "";
  width: 15.5px;
  height: 17px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



input:focus+.slider {

  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./Ellipse\ 7.png);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {

  border-radius: 11px;
}

.slider.round:before {

  border-radius: 11px;
}

.backdrop_header{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
@media (max-width: 321px) {
  .backdrop_header {  
      
    display: none;
     
     
  }
}
.form_header{
  background-color: white;
  width: 575px;
  height: 315px;
  left: 50%;
  top: 50%;
  position: fixed;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  transform: translate(-50%, -50%);
}
.button_close_btn{
  width: 15px;
  margin-top: 30px;
  margin-left: 531px;
  height: 15px;
  border: none;
  background-color: none;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #000;
}


.text_header_form{
  color: #000;
  Width: 392px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title_header_form{
  
  color: #000;
margin-top: 42px;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input_header_form{
  margin-top: 18px;
  margin-left: 160px;
  margin-right: 160px;
  padding: 10px 90px 10px 10px;
  gap: 10px;
  border: none;
  border-radius: 20px;
  background: #D7D7D7;
  margin-bottom: 18px;
}
.btn_saveAndClose{
  margin-left: 235px;
  margin-right: 235px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 20px;
  background: #000;
  color: white;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}