.list_header {
  display: flex;
  margin-left: 50px;
}

.title-header {
  color: #000;

  text-align: right;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.svg-white-black {
  width: 15.033px;
  height: 14.667px;
  flex-shrink: 0;
  border-radius: 15.033px;
}

.box-header {
  display: flex;
  margin-left: 320px;
}

.box-btn-header {
  width: 40px;
  margin-right: 30px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #7A7A7A;
}

.btn-white-black {
  display: flex;
  width: 20.5px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 15.033px;
  fill: #FFF;

  stroke-width: 0.5px;
  stroke: #000;
}

.dropdown-content {

  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.list-link-form-header {
  width: 160px;
  height: 35px;
  text-align: center;
  flex-shrink: 0;
  border-right: 1px solid #000;

  border-left: 1px solid #000;

  background: #FFF;
}

.list-link-form-header:hover {
  background: #D7D7D7;
}

.list-link-form-header:last-child {
  width: 160px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  border-right: 1px solid #000;

  border-bottom: 1px solid #000;

  border-left: 1px solid #000;

  background: #FFF;
}

.list-form {
  width: 160px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  border-right: 1px solid #000;

  border-bottom: 1px solid #000;

  border-left: 1px solid #000;

  background: #FFF;
}

.list-link-header {
  margin-right: 50px;
}


.list-link-header:last-child {
  margin-right: 0px;
}

.links-header {
  color: #000;

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.dropdown {
  position: relative;
  /* margin-right: 50px; */
  margin-left: 60px;
}

header {
  max-width: 100%;
  padding-top: 30px;
  align-items: center;
  height: 80px;
}

nav {
  display: flex;
}

.container {
  width: 1090px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.links-modal {
  color: #000;

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.svg-logo {
  width: 40px;
  height: 38.145px;
  flex-shrink: 0;
}

.title-logo {
  margin-right: 81px;
}

.logo_title {
  color: #000;

  font-family: Sacramento;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.span_header {
  color: #000;

  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.svg-button-header {
  width: 5px;
  height: 9px;
  flex-shrink: 0;
  stroke-width: 0.75px;
  stroke: #000;
}

.button_header {
  background: none;
  background-color: none;
  border: none;
}

.switch {

  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #7A7A7A;
}


.switch {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}


.switch input {
  display: none;

}

/* The slider */
.slider {

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;

  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Ellipse\ 8.png);


  position: absolute;
  content: "";
  width: 15.5px;
  height: 17px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



input:focus+.slider {

  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Ellipse\ 7.png);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {

  border-radius: 11px;
}

.slider.round:before {

  border-radius: 11px;
}

.form_header{
opacity: 0;
}