.our-team__section {
  margin-top: 36px;
  margin-bottom: 36px;
  /* width: 100%; */
  max-width: 536px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.our-team__text {
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
}
@media (max-width: 321px) {
  .our-team__text {
    margin-right: auto;
    margin-left: auto;
  }
}

.prev {
  background-image: url(../img/Vector\ 231.png);
  width: 52px;
  height: 100px;
  border: none;
  background-color: #ffff;
}

.next {
  background-image: url(../img/Vector\ 230.png);
  width: 52px;
  height: 100px;
  border: none;
  background-color: #ffff;
}

.our-team__title {
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 36px;
  margin-top: 36px;
  border-top: 2px solid #000;
  width: 100%;
  max-width: 536px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

@media (max-width: 321px) {
  .our-team__title {
    width: 100%;
    max-width: 300px;
  }
}

.our-team__slider {
  display: flex;
  justify-content: center;
}

.our-team__slid {
  align-items: center;
  position: relative;
  text-align: center;
}

.our-team__img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: #d9d9d9;
  max-width: 536px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.our-team__person {
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.our-team__slid {
  display: none;
}

.our-team__slid.active {
  display: block;
}

.indicator-dots {
  text-align: center;
  margin-top: 24px;
}

.indicator-dots .dot {
  display: inline-block;
  width: 24px;
  height: 3px;
  border-radius: 20%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.indicator-dots .dot.active {
  background-color: #555;
}

.our-team__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
}
