/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url("./3-nums-game.css");
@import url("./football.css");
@import url("./google-dino.css");

.container {
  width: 620px;
  height: 3000px;
  background-color: white;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
      width: 750px;
      height: 3250px;
      background-color: white;
      z-index: -1;
  }
}

@media screen and (min-width: 1280px) {
  .container {
      width: 1090px;
      height: 3500px;
      background-color: white;
      z-index: -1;
  }
}

body {
  background-image: none;
  height: 1300px;
  width: 500px;
}
@media screen and (min-width: 768px) {
  body {
    width: 100%;
    background-image: url(../img/main.png);
    background-size: cover;
  }
}
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
