/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url("./3-nums-game.css");
@import url("./football.css");
@import url("./google-dino.css");

.container {
  width: 1090px;
  height: 2222px;
  background-color: white;
  z-index: -1;
}

body {
  background-image: url(../img/main.png);
  width: 1500px;
  height: 1300px;
  background-size: cover;
}
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
