
@import url('./reset.css');
@import url("./3-nums-game.css");
@import url("./football.css");
@import url("./google-dino.css");

.container {
  width: 1090px;
  height: 2222px;
  background-color: white;
  z-index: -1;
}

body {
  background-image: url(../img/main.png);
  width: 1500px;
  height: 1300px;
  background-size: cover;
}

