.year-game__section{
  margin-top: 36px;
  margin-bottom: 36px;
  width: 536px;
  margin-left: auto;
  margin-right: auto;
}

.main__title {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 24px;
}
@media (max-width: 321px) {
  .main__title {
    text-align: center;
    font-size: 30px;
  }
}

.year-game__title {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #000;
  width: 536px;
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 16px;
}
@media (max-width: 321px) {
  .year-game__title {
    text-align: center;
    font-size: 20px;
    width: 300px;
    justify-content: center;
    margin-left: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.year-game__detalisation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}
@media (max-width: 321px) {
  .year-game__detalisation {
    display: block;
    align-items: center;
  }
}

.year-game__form {
  display: flex;
  flex-direction: row;

  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}
@media (max-width: 321px) {
  .year-game__form {
  padding-left: 55px;
}
}

.year-game__input {
  color: #7e7e7e;
  font-family: Montserrat Alternates;
  font-size: 12px;
  font-weight: 400;
  display: inline-flex;
  padding: 10px 45px 11px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #d7d7d7;
  border: 1px solid #ccc;
}
@media (max-width: 321px) {
  .year-game__input {
    padding: 7px 20px 7px 7px;
}
}

.year-game__btn {
  position: absolute;
  display: inline-flex;
  padding: 11.6px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  background: #000;
  margin-left: 85%;
}
@media (max-width: 321px) {
  .year-game__btn {
    padding: 7px 10px 9px 7px;
    margin-left: 105%;
  }
}


.year-game__svg {
  width: 15px;
  height: 15px;
}

.year-game__text {
  font-family: Montserrat Alternates;
  font-size: 13px;
}
@media (max-width: 321px) {
  .year-game__text {
    margin-top: 30px;
    text-align: center;
    
  }
}
